font-family = 'Microsoft YaHei', Arial, Helvetica, sans-serif

*
  margin 0
  padding 0
  word-wrap break-word
  word-break break-all

html
  overflow-y auto
  user-select none
  text-size-adjust 100%
  text-rendering optimizelegibility
  -ms-tap-highlight-color transparent
  -moz-tap-highlight-color transparent
  -webkit-tap-highlight-color transparent

body
  font-size 12px
  text-align left
  user-select none
  color color-main
  font-family font-family
  text-size-adjust 100% !important

h1,
h2,
h3,
h4,
h5,
h6
  color color-main
  font-weight normal

nav,
main,
aside,
figure,
footer,
header,
article,
section
  display block

audio,
video,
canvas
  display inline-block
  *display inline
  *zoom 1

audio:not([controls])
  height 0
  display none

[hidden]
  display none

svg:not(:root)
  overflow hidden

img
  border 0

legend
  border 0
  padding 0

a
  outline none
  appearance none
  text-decoration none
  -ms-tap-highlight-color transparent
  -moz-tap-highlight-color transparent
  -webkit-tap-highlight-color transparent
  &:link,
  &:visited,
  &:hover,
  &:active
    outline none
    appearance none
    text-decoration none
    -ms-tap-highlight-color transparent
    -moz-tap-highlight-color transparent
    -webkit-tap-highlight-color transparent

ol,
ul,
li,
dl,
dt,
dd,
menu
  list-style none inside none

i,
em
  appearance none
  font-style normal
  -ms-tap-highlight-color transparent
  -moz-tap-highlight-color transparent
  -webkit-tap-highlight-color transparent

iframe
  display block

table
  border-spacing 0
  border-collapse collapse

th
  text-align inherit


